.tablica {
    border: 1px solid firebrick;
    background-color: salmon;
    width: 95%;
}
.zaglavlje {
    background-color: moccasin;
    font-weight: bold;
}
.parni {
    background-color: oldlace;    
    text-indent: 5px;
}
.neparni {
    background-color: whitesmoke;
    text-indent: 5px;
}
.gumb {
    background-color: indianred;
    color: ivory;
    border: 1px solid firebrick;
}
.gumb:disabled {
    background-color: darkorange;
    color: ivory;
    border: 1px solid firebrick;
}

.preformatted {
    white-space: pre;
}

.noMessages{
    text-align: center;
    font-size: large;
}
.sadrzaj{
    height: 800px;
}

.blok{
    background-color: whitesmoke;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 2px 2px 30px 2px;
    padding: 15px;
    border-radius: 5px;
}